.popover_container{
  max-width: 800px;
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  max-height: 90vh;
}
.popover_image{
  max-width: 100%;
  height: auto;

}

.cards{
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: nowrap;
  max-width: 500px !important;
  flex-direction: column;
  margin-bottom: 50px;
}

.categories{
  font-weight: bold !important; 
  font-size: larger;
  display: flex;
  align-self: center;
  width: 100px;
  text-align: center;
  height: 50px;
  flex-wrap: wrap;
  flex-direction: row;  
  gap: 10px;
  justify-content: center;

}

.lcategories{
  display: flex;
  width: 350px;
  height: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}